.checkoutProduct{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__button{
    background-color: #F7CA00;
    color: black;
    border: 1px solid;
    border-radius: 24px;
    padding: 5px 40px;
    border-color: white;
    margin-top: 10px;
}

.checkoutProduct__Image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}