@import url('https://fonts.googleapis.com/css2?family=Lobster&family=The+Nautigal:wght@700&display=swap');


.header{
    background-color:black;
    display: flex;
    align-items: center;
    height: 60px;
    position: sticky;
    z-index: 100;
    text-decoration: none;
}

.header__logo{
    width: 100%;
    margin: 0 20px;
    margin-top:10px;
    font-size: 2rem;
    /* margin-right: 20px;
    margin-left: 10px; */
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-family: 'The Nautigal', cursive;
    background: linear-gradient(to right, #fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
}

.header_searchInput{
    padding: 10px;
    height: 14px;
    border: none;
    width: 100%;
    margin-left: 10px;
}
.header__searchIcon{
    background-color:rgb(255,178,132);
    padding: 5px;
    height: 22px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option{
    color:white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne{
    font-size: 10px;

}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 700;
}

.header__optionBasket{
    color:white;
    align-items: center;
    display: flex;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}