.subtotal{
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px Solid '#ddddddd';
    border-radius: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}
.subtotal__gift input {
    margin-right: 5px ;
}

.subtotal__button{
    background-color: #F7CA00;
    width: 100%;
    height: 30px;
    border: 0px solid ;
    border-color: #9b8212;
    border-radius: 5px;
    margin-top: 10px;
}